body {
    background-color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#box {
    display: flex;
    align-items: end;
}
#triangle_small {
    width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid darkgreen;
}
#triangle_big {
    width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top: 300px solid darkgreen;
}
#text {
    color: grey;
    font-size: 20px;
    font-weight: bold;
    bottom: 10px;
    left: 15px;
    position: absolute;
}